* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: sans-serif;
}

.main-container {
    display: flex;
}

img {
    max-width: 100%;
}

.login-page {
    align-items: center;
    justify-content: center;
}

.login-background {
    flex-basis: 75%;
    height: 100vh;
    background: url("./../../resources/images/img3.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    flex-basis: 25%;
    padding: 20px;
    
}

.app-logo {
    margin: -41px auto;
    width: 54%;
}

.login-form {
    margin-top: 20px;
}

.form-field {
    margin-top: 15px;
}

.form-field input {
    width: calc(100% - 14px);
    padding: 16px 2px 16px 10px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
}

.login-form span {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}

.login-form .link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.app-button {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    background: #bd031a;
    color: white;
    cursor: pointer;
}